[submodule "arduino-non-blocking-button"]
	path = arduino-non-blocking-button
	url = https://github.com/scott-linenberger/arduino-non-blocking-button
[submodule "ESPTelemetryNode"]
	path = ESPTelemetryNode
	url = https://github.com/scott-linenberger/ESP-Telemetry-Node
[submodule "RunnableLed"]
	path = RunnableLed
	url = https://github.com/scott-linenberger/RunnableLed
[submodule "ArduinoDebugLogger"]
	path = ArduinoDebugLogger
	url = https://github.com/scott-linenberger/ArduinoDebugLogger
